*{
    font-weight: 700;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #f0f0f0; */
    background: url(/bg1.webp);
    background-size: cover;
}
.container{
    max-width: 400px;
    min-height: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);  /*transparent*/
    border-radius: 10px;
    box-shadow: 0 0  10px rgba(246, 244, 244, 0.3);
    margin-top: 7rem;
}

h1{
    font-size: 25px;
}

input[type="text"]{
    width: 90%;
    padding:10px;
    margin: 10px 0;
    border:1px solid #ccc;
    border-radius: 5px;
}

button{
   background-color:#007bff;
   color: #fff;
   border: none;
   padding: 10px 20px;
   border-radius: 5px ;
   cursor: pointer;
}

.weather-info{
    margin-top: 20px;
}

#info{
    align-items: center;
    text-align: center;
    margin: 20px 0 10px 0;
    color: white;
    text-transform: capitalize;
}

.account{
    justify-content: center;
    text-decoration: none;
    text-align: center;
    margin: 10px;
    /* padding: 20px; */
    color: white;
}

#signup{
    background-color: rgb(210, 36, 36);
    margin-right: 10px;
}


#login{
    background-color: rgb(6, 107, 35);
}
